@import url('https://fonts.googleapis.com/css2?family=DM+Sans');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark: #232c3d;
  --darker: #15181f;
  --accent-dark: #e6b341;
  --accent-dark-hover: #b47f0b;
  --accent-light: #0e55b1;
  --light: #fbfaf8;
  --completed: #305083;
  --playing: #c2d79c;
  --dark-green: #45512f;
  --game-card-width: 450px;
  --one-column: calc(var(--game-card-width) + 100px);
  --two-column: calc(var(--game-card-width) * 2 + 100px);
  --three-column: calc(var(--game-card-width) * 3 + 100px);
  --error-text: rgb(233, 34, 34);
  --dark-gray: #384458;
  --darker-gray: #17171796;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--light);
  background: var(--darker);
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.header {
  height: 70px;
  width: 100%;
  color: var(--light);
  border-bottom: solid var(--accent-dark);
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  overflow-y: auto;
  padding: 50px;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.collection-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
}

.collection-title {
  display: flex;
  gap: 60px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.gameGrid {
  display: grid;
  gap: 30px;
}

@media (width >= 1030px) {
  .gameGrid {
    grid-template-columns: auto auto;
  }
}

@media (width >= 1510px) {
  .gameGrid {
    grid-template-columns: auto auto auto;
  }
}

.gameCard {
  width: var(--game-card-width);
  height: 144px;
  background-color: var(--dark);
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.gameInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gameDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gameStatus {
  display: inline-flex;
  padding: 2 6 2 6;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.gameStatus.Completed {
  background-color: var(--completed);
  color: var(--light);
}

.gameStatus.Incomplete {
  background-color: var(--light);
  color: var(--dark);
}

.gameStatus.Playing {
  background-color: var(--playing);
  color: var(--dark-green);
}

.gameCopy {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.gameTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: var(--light);
}

.squareContainer {
  overflow: hidden;
  width: 114px;
  height: 114px;
  position: relative;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.sign-up-container,
.login-container {
  background: var(--dark-gray);

  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 500px;
  padding: 60px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: end;
}

.form-error {
  color: var(--error-text);
  font-weight: 600;
}

.password-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.password-container > input[type='password'],
.password-container > input[type='text'] {
  width: 100%;
}
.password-toggle {
  position: absolute;
  right: 5px;
  color: var(--foreground);
}
.password-toggle:hover {
  color: var(--accent-light);
}
::-ms-reveal,
::-ms-clear {
  display: none;
}

input[type='submit'],
button {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  padding: 5px 15px;
  font-size: 16px;
}

.add-copy-button,
.remove-copy-button,
.add-route-button,
.remove-route-button {
  padding: 2px 10px;
  font-size: 12px;
  width: fit-content;
}

input,
select {
  padding: 5px;
  font-family: 'DM Sans', sans-serif;
}

a {
  color: var(--accent-dark);
}
a:hover {
  color: var(--accent-dark-hover);
}

.copies {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--darker-gray);
  padding: 2px 5px;
  font-size: 11px;
  border-radius: 2px;
  color: var(--accent-dark);
}

.copies .copies-tooltip {
  visibility: hidden;

  background: var(--darker-gray);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  justify-content: center;
  border-radius: 5px;
  top: 25px;
  right: 0;

  position: absolute;
  z-index: 1;
}

.copies:hover .copies-tooltip {
  visibility: visible;
}

.tabs {
  display: flex;
  cursor: pointer;
}
.tab {
  background: var(--dark);
  padding: 5px 10px;
}
.tab.active,
.tab.active:hover {
  background: var(--completed);
}
.tab:hover {
  background: #203b66;
}
