@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark: #232c3d;
  --darker: #15181f;
  --accent-dark: #e6b341;
  --accent-dark-disabled: #9c7521;
  --accent-dark-hover: #c08c1b;
  --accent-light: #0e55b1;
  --light: #fbfaf8;
  --background-hover: #c8cedf;
  --completed: #305083;
  --playing: #c2d79c;
  --dark-green: #45512f;
  --game-card-width: 450px;
  --one-column: calc(var(--game-card-width) + 100px);
  --two-column: calc(var(--game-card-width) * 2 + 100px);
  --three-column: calc(var(--game-card-width) * 3 + 100px);
  --error-text: rgb(233, 34, 34);
  --error-text-hover: rgb(197, 17, 17);
  --dark-gray: #384458;
  --darker-gray: #17171796;
  --medium: #606d8b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--light);
  background: var(--darker);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.header {
  height: 70px;
  width: 100%;
  color: var(--light);
  border-bottom: solid var(--accent-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

div.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  overflow-y: auto;
  padding: 50px;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.collection-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
}

.collection-title {
  display: flex;
  gap: 60px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.gameGrid {
  display: grid;
  gap: 30px;
}

@media (width >= 1030px) {
  .gameGrid {
    grid-template-columns: auto auto;
  }
}

@media (width >= 1510px) {
  .gameGrid {
    grid-template-columns: auto auto auto;
  }
}

.gameCard {
  width: var(--game-card-width);
  height: 144px;
  background-color: var(--dark);
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.gameInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gameDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gameStatus {
  display: inline-flex;
  padding: 2 6 2 6;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.gameStatus.Completed {
  background-color: var(--completed);
  color: var(--light);
}

.gameStatus.Incomplete {
  background-color: var(--light);
  color: var(--dark);
}

.gameStatus.Playing {
  background-color: var(--playing);
  color: var(--dark-green);
}

.gameCopy {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.gameTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: var(--light);
}

.squareContainer {
  overflow: hidden;
  width: 114px;
  height: 114px;
  position: relative;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.sign-up-container,
.login-container {
  background: var(--dark-gray);

  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 500px;
  padding: 60px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: end;
}

.form-info {
  color: var(--accent-dark);
  font-weight: 700;
}
.form-info-white {
  font-weight: 700;
}
.form-info-pale {
  color: var(--medium);
  font-weight: 500;
}
.form-error {
  color: var(--error-text);
  font-weight: 700;
}

.password-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.password-container > input[type='password'],
.password-container > input[type='text'] {
  width: 100%;
}
.password-toggle {
  position: absolute;
  right: 5px;
  color: var(--foreground);
}
.password-toggle:hover {
  color: var(--accent-light);
}
::-ms-reveal,
::-ms-clear {
  display: none;
}

input[type='submit'],
button,
.button {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  outline: none;
  border: none;
}

.add-copy-button,
.remove-copy-button,
.add-route-button,
.remove-route-button {
  padding: 2px 10px;
  font-size: 12px;
  width: fit-content;
}

input,
select {
  padding: 5px;
  font-family: 'DM Sans', sans-serif;
}

a {
  color: var(--accent-dark);
}
a:hover {
  color: var(--accent-dark-hover);
}

.copies {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--darker-gray);
  padding: 2px 5px;
  font-size: 11px;
  border-radius: 2px;
  color: var(--accent-dark);
}

.copies .copies-tooltip {
  visibility: hidden;

  background: var(--darker-gray);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  justify-content: center;
  border-radius: 5px;
  top: 25px;
  right: 0;

  position: absolute;
  z-index: 1;
}

.copies:hover .copies-tooltip {
  visibility: visible;
}

.tabs {
  display: flex;
  cursor: pointer;
}
.tab {
  background: var(--dark);
  padding: 5px 10px;
}
.tab.active,
.tab.active:hover {
  background: var(--completed);
}
.tab:hover {
  background: #203b66;
}

::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.vndb-import-container[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  background: none;
  border: none;
  padding: 50px;
}
.vndb-import-modal {
  display: flex;
  max-width: 790px;
  width: 100%;
  flex-direction: column;
  background: var(--darker);
  color: var(--background);
  padding: 50px 80px;
  gap: 40px;
}
.vndb-main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.vndb-search {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.vndb-search-options-container {
  display: flex;
  align-items: center;
  gap: 45px;
}
.vndb-search-options {
  display: flex;
  gap: 15px;
}
.vndb-search-option {
  display: flex;
  gap: 5px;
}
input[type='text']#vndb-link {
  background: var(--dark);
  border: none;
  outline: none;
  width: 100%;
  color: var(--background);
  font-size: 16px;
}
input[type='text']#vndb-link::placeholder {
  color: var(--medium);
  font-style: italic;
}
.vndb-search-button,
.vndb-import-button {
  background: var(--accent-dark);
  color: black;
}
.vndb-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.vndb-header,
.vndb-link-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.vndb-search-button-loading,
.vndb-import-button-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--accent-dark-disabled);
  color: black;
}
.loader {
  animation: spin-animation 1s infinite;
}
.loader.lg {
  width: 30px;
  height: 30px;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.vndb-search-result-table {
  width: 100%;
}
th {
  text-align: left;
  background: var(--dark);
  padding: 5px 10px;
}
td {
  padding: 5px 10px;
}
table {
  border-collapse: collapse;
}
.vndb-search-results-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.vndb-search-result-prompt {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
td.checkbox {
  text-align: right;
}
button.small {
  padding: 5px 10px;
  font-size: 14px;
  color: var(--background);
  background: none;
}
button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: var(--background) solid 1px;
  color: var(--background);
  cursor: pointer;
}
input {
  cursor: pointer;
}
input#vndb-link:disabled {
  color: var(--medium);
  pointer-events: none;
}
button:hover,
.button:hover {
  border: var(--background-hover) solid 1px;
  color: var(--background-hover);
}
button.main,
.button.main {
  border: var(--accent-dark) solid 1px;
  background: var(--accent-dark);
  color: var(--darker);
}
button.main:hover,
.button.main:hover {
  border: var(--accent-dark-hover) solid 1px;
  background: var(--accent-dark-hover);
}
button.main.outlined,
.button.main.outlined {
  border: var(--accent-dark) solid 1px;
  background: none;
  color: var(--accent-dark);
}
button.main.outlined:hover,
.button.main.outlined:hover {
  border: var(--accent-dark-hover) solid 1px;
  color: var(--accent-dark-hover);
}
button.main.outlined.disabled,
.button.main.outlined.disabled {
  border: var(--accent-dark-disabled) solid 1px;
  background: none;
  color: var(--accent-dark-disabled);
}
button.main.disabled,
.button.main.disabled {
  gap: 10px;
  border: var(--accent-dark-disabled) solid 1px;
  background: var(--accent-dark-disabled);
  color: black;
}
button.small,
.button.small {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}
button.nobg,
.button.nobg {
  border: none;
  background: none;
  color: var(--background);
}
button.warn,
.button.warn {
  color: var(--error-text);
}
button.warn:hover,
.button.warn:hover {
  color: var(--error-text-hover);
}
hr.solid {
  border-top: 1px solid var(--dark);
  border-color: var(--dark);
  width: 100%;
}
button:disabled {
  pointer-events: none;
}
input[type='checkbox'] {
  appearance: none;
  margin: 0;
  width: 21px;
  height: 21px;
  background: none;
  border: var(--medium) 1px solid;
}
input[type='checkbox']:checked {
  background: var(--accent-dark);
  border: var(--accent-dark) 1px solid;
}
input[type='checkbox']:hover {
  border: var(--accent-dark) 1px solid;
}
tbody tr {
  color: var(--medium);
}
tbody tr.selected {
  color: var(--background);
}
.logo {
  width: 32px;
  height: 32px;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.loading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

p.lg {
  font-size: 24px;
}
