@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark: #232c3d;
  --darker: #15181f;
  --accent-1: #e6b341;
  --light: #fbfaf8;
  --completed: #305083;
  --playing: #c2d79c;
  --dark-green: #45512f;
  --game-card-width: 450px;
  --one-column: calc(var(--game-card-width) + 100px);
  --two-column: calc(var(--game-card-width) * 2 + 100px);
  --three-column: calc(var(--game-card-width) * 3 + 100px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--light);
  background: var(--darker);
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.header {
  height: 70px;
  width: 100%;
  color: var(--light);
  border-bottom: solid var(--accent-1);
}

.body {
  overflow-y: auto;
  padding: 50px;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.collection-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
}

.collection-title {
  display: flex;
  gap: 60px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.gameGrid {
  display: grid;
  gap: 30px;
}

@media (width >= 1030px) {
  .gameGrid {
    grid-template-columns: auto auto;
  }
}

@media (width >= 1510px) {
  .gameGrid {
    grid-template-columns: auto auto auto;
  }
}

.gameCard {
  width: var(--game-card-width);
  height: 144px;
  background-color: var(--dark);
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.gameInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gameDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gameStatus {
  display: inline-flex;
  padding: 2 6 2 6;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.gameStatus.Completed {
  background-color: var(--completed);
  color: var(--light);
}

.gameStatus.Incomplete {
  background-color: var(--light);
  color: var(--dark);
}

.gameStatus.Playing {
  background-color: var(--playing);
  color: var(--dark-green);
}

.gameCopy {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.gameTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: var(--light);
}

.squareContainer {
  overflow: hidden;
  width: 114px;
  height: 114px;
  position: relative;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
